* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    touch-action: none;
}

p.noPadding {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-left: 0;
    padding-right: 0;
}

.fp-watermark {
    display: none;
}

h1 {
    font-family: "Lato";
    font-size: 32px;
    font-weight: 400;
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
}

    h1.fullName {
        position: fixed;
        overflow: hidden;
        font-family: 'Montserrat';
        font-size: 35px;
        font-weight: 400;
        letter-spacing: 30px;
        bottom: 25%;
        left: 50%;
        transform: translate(-50%, 0);
        overflow: hidden;
    }

h2 {
    position: fixed;
    font-family: 'Montserrat';
    font-size: 25px;
    font-weight: 200;
    letter-spacing: 15px;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, 0);
}

p {
    font-family: "Montserrat";
    line-height: 1.5;
    font-size: 16px;
    font-weight: 100;
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
}

.cursor {
    position: fixed;
    top: 0px;
    left: 0px;
    pointer-events: none;
    cursor: none;
    /*transition:transform 50ms ease-out;*/
    z-index: 999999;
}

.cursor-dot {
    width: 6px;
    height: 6px;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 100%;
    /*transition: 0.1s ease-in-out;*/
}

.loading-page {
    background: black;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    pointer-events: auto;
}

.lottieplayer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/*
  Set the color of the icon
*/
svg path,
svg rect {
    fill: #FF6700;
}


.follower {
    position: fixed;
    top: 0px;
    left: 0px;
    pointer-events: none;
    cursor: none;
    /*transition:transform 100ms ease-out;*/
    z-index: 999998;
}

.follower-circle {
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: #fff 1px solid;
    transition: width 200ms ease-out, height 200ms ease-out;
}

.follower-circle--scale {
    border: #fff 2px solid;
    width: 80px;
    height: 80px;
    background: #fff;
}

/* nav header links */
.nav-brand {
    position: fixed;
    left: 0;
    z-index: 600;
    padding: 10px;
}

    .nav-brand img {
        width: 180px;
    }

.fa-bars {
    display: none !important;
}

.header-links {
    position: fixed;
    background-color: #000;
    width: 100%;
    z-index: 500;
}

    .header-links li {
        color: white;
        display: inline;
        float: right;
        padding: 15px;
        font-size: 16px;
    }

    .header-links a {
        font-weight: 400;
        color: #949494;
        text-decoration: none;
        font-family: "Montserrat";
        -webkit-transition: all 0.2s ease-in;
    }

        .header-links a:hover {
            color: #fdda0d !important;
        }

    .header-links button {
        color: white;
        display: inline;
        float: right;
        font-size: 16px;
        background-color: transparent;
        background-repeat: no-repeat;
        border: none;
        color: #949494;
        text-decoration: none;
        font-weight: 400;
        font-family: "Montserrat";
        -webkit-transition: all 0.2s ease-in;
    }

        .header-links button:hover {
            color: #fdda0d !important;
        }


#fp-nav ul li .fp-tooltip {
    color: #818181 !important;
}


/* Expanding border effect */
.header-links a::after {
    display: block;
    margin: 0 auto;
    margin-top: 5px;
    width: 0;
    height: 2px;
    background-color: #fff;
    content: "";
    opacity: 0;
    -webkit-transition: width 0.6s, opacity 0.8s;
    -moz-transition: width 0.6s, opacity 0.8s;
    transition: width 0.6s, opacity 0.8s;
}

.header-links a:hover::after,
.header-links a:focus::after {
    opacity: 1;
    width: 100%;
}

/* main header section */
canvas {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
}

.opaque-bg {
    margin-left: auto;
    margin-right: auto;
    max-width: 380px;
    padding: 1px 1px 5px 5px;
}

.cover {
    background: url("img/BG.png") no-repeat;
    background-size: cover;
    font-family: "Lato";
    text-align: center;
    overflow: hidden;
    /* padding-top: 25%; */
    font-size: 20px;
    color: rgba(255, 255, 255, 0.6);
}

/* about me */
.aboutme {
    overflow: hidden;
    background: rgb(235, 235, 235);
}

.reach-out {
    align-items: center;
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
    list-style: none;
    padding-left: 10%;
    padding-right: 10%;
    overflow: hidden;
}

    .reach-out li {
        display: inline;
        text-decoration: none;
        word-wrap: break-word;
        font-family: "Montserrat";
        font-size: 16px;
        font-weight: 100;
    }

        .reach-out li span {
            padding-left: 10px;
            text-decoration: none;
        }

        .reach-out li a:hover,
        .reach-out li a:visited,
        .reach-out li a:link,
        .reach-out li a:active {
            text-decoration: none;
            color: #000;
        }

.SkillSet {
    position: relative;
    height: 35vh;
    width: 100%;
}

/* Skill card */
.CardContainer {
    position: absolute;
    height: 100%;
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card {
    /* display:z */
    height: 300px;
    width: 220px;
    background-color: rgb(235, 235, 235);
    border-radius: 10px;
    box-shadow: inset -6px -6px 10px rgba(255, 255, 255, 0.6), inset 6px 6px 20px rgba(0, 0, 0, 0.075);
    transition: 0.4s ease-out;
    position: relative;
}

    .card img {
        padding-top: 10%;
        padding-left: 20%;
        padding-right: 20%;
        max-width: 100%;
        height: auto;
    }

    .card p {
        text-align: center;
        display: flex;
        align-items: center;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 5%;
        width: 100%;
        height: 100%;
        font-size: 14px;
        color: rgb(99, 99, 99);
    }

    .card:not(:first-child) {
        margin-left: 2vw;
    }

    .card:hover {
        transform: translateY(-10px);
        background-color: rgb(235, 235, 235);
        box-shadow: -6px -6px 20px rgba(255, 255, 255, 1), 6px 6px 20px rgba(0, 0, 0, 0.1);
        transition: 0.4s ease-out;
    }

        .card:hover ~ .card {
            position: relative;
            transition: 0.4s ease-out;
        }

.title {
    font-family: "Montserrat";
    text-align: center;
    color: rgb(70, 70, 70);
    font-weight: 300;
    position: relative;
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
}

.card:hover .stroke {
    stroke-dashoffset: 100;
    transition: 0.6s ease-out;
}

.button {
    padding-left: 10%;
    padding-right: 10%;
    width: 250px;
    height: 60px;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    background-color: rgb(235, 235, 235);
    /* box-shadow: -6px -6px 20px rgba(255,255,255,1),
				6px 6px 20px rgba(0,0,0,0.1); */
    transition: 0.4s ease-out;
}

    .button:hover {
    }
/* end of about me */

/* Art Gallery */
.arts {
    /* direction: ltr; */
    background: url("img/BG.png");
    background-size: cover;
    /* padding-top: 15vh; */
}

.grid-wrapper > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

    .grid-wrapper > div > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
    }

.grid-wrapper {
    position: relative;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 200px;
    grid-auto-rows: 240px;
    grid-auto-flow: dense;
}

    .grid-wrapper .wide {
        grid-column: span 2;
    }

    .grid-wrapper .tall {
        grid-row: span 2;
    }

    .grid-wrapper .bigtall {
        grid-column: span 2;
        grid-row: span 3;
    }

    .grid-wrapper .big {
        grid-column: span 2;
        grid-row: span 2;
    }

    .grid-wrapper .bigwide {
        grid-column: span 3;
        grid-row: span 2;
    }

/* .grid-wrapper> div:hover {
  scale: 1.15;
  transition: 0.4s ease-out;
} */

/* @media screen and (min-width: 900px) {
  article {
    padding: 1rem 3rem;
  }
} */

/* -------------------------------------------------------------------------------- */
.GameJams {
    overflow: hidden;
    background: url("img/BG.png");
    background-size: cover;
    color: #fff;
    padding-top: 10px;
    width: auto;
}

.WorkCardsContainer {
    --page: 0;
    width: auto;
}

.MySlides {
    display: inline-block;
    width: auto;
    /* height: 76vh; */
    padding: 0 20vh;
    font-size: 0;
    white-space: nowrap;
    overflow: hidden;
    transform: translate3D(calc(var(--page) * (-25vw - 5vw)), 0, 0);
    transition: 1500ms transform cubic-bezier(0.7, 0, 0.3, 1);
}

.MySlide {
    display: inline-block;
    vertical-align: top;
    font-size: 1.5vw;
    width: 25vw;
    height: 36vw;
    margin: 0 1.333em;
    background: hsl(210, 23%, 8%);
    color: white;
    background-size: cover;
    background-position: center;
    white-space: normal;
    word-break: break-word;
    position: relative;
    transition: 0.4s ease-out;
    transition-delay: 0.3s;
}

.slideBG {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 12px;
    background-size: auto 100%;
    background-position: left;
}

.slideOverlay {
    position: absolute;
    background: cover;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 12px;
    z-index: 1;
    background: linear-gradient(#ffffff00, #0a0a13e3);
}

.MySlide .body {
    padding-top: 3vh;
    padding-right: 1vw;
    padding-left: 1vw;
    color: rgba(255, 255, 255, 0.45);
    text-shadow: 0px 0px 8px #cececec9;
    transition: 0.4s ease-out;
}

.MySlide .slideNum {
    padding-left: 1vw;
    opacity: 1;
    z-index: 2;
    font-family: "Lato";
    font-size: 0.7em;
    font-weight: 0.5;
    transition: 0.4s ease-out;
}

.MySlide .slideEvent {
    opacity: 0;
    z-index: 2;
    font-family: "Lato";
    font-size: 0.8em;
    font-weight: 1;
    transition: 0.4s ease-out;
}

.MySlide .slideTitle {
    opacity: 1;
    z-index: 10;
    font-family: "Lato";
    font-size: 1em;
    font-weight: 900;
    transition: 0.4s ease-out;
}

.MySlide .slideDescription {
    z-index: 2;
    font-family: "Lato";
    font-size: 0.75em;
    font-weight: 100;
    line-height: 1.8em;
    position: absolute;
    padding-right: 1vw;
    bottom: 2em;
    opacity: 0;
    transition: 0.4s ease-out;
    letter-spacing: .05em;
}

.MySlide.focus {
    width: 64vw;
    transition: 0.4s ease-out;
}

    .MySlide.focus .slideOverlay {
        opacity: 0;
        transition: 0.4s ease-out;
    }

    .MySlide.focus:hover .slideOverlay {
        opacity: 1;
        background: linear-gradient(#0a0a13cb, #0a0a13e3);
        transition: 0.4s ease-out;
    }

    .MySlide.focus:hover .slideDescription {
        opacity: 1;
        transition: 0.4s ease-out;
    }

    .MySlide.focus .slideTitle {
        opacity: 1;
        transform: translateY(2vh);
        font-size: 2.5em;
        transition: 0.4s ease-out;
    }

    .MySlide.focus .slideEvent {
        opacity: 1;
        transform: translateY(3vh);
        transition: 0.4s ease-out;
        transition-delay: 0.3s;
    }

    .MySlide.focus .slideBG {
        transition: 0.4s ease-out;
        /* filter: saturate(80%); */
    }

    .MySlide.focus .body {
        height: 100%;
        vertical-align: center;
        opacity: 1 !important;
        color: rgb(255, 255, 255) !important;
        text-shadow: 0px 0px 12px #000000e7 !important;
        transition: 0.8s ease-out;
    }

.slidebuttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.slidebutton_left {
    position: absolute;
    left: 3vw;
    top: 50%;
    z-index: 100;
    width: 8vh;
    height: 8vh;
    background-size: contain;
    border: none;
    background-image: url('img/Works/Left.png');
    transform: scale(1);
    animation: pulse 2s infinite;
    cursor: pointer;
}

.slidebutton_right {
    position: absolute;
    right: 4vw;
    top: 50%;
    z-index: 100;
    width: 8vh;
    height: 8vh;
    background-size: contain;
    border: none;
    background-image: url('img/Works/Right.png');
    transform: scale(1);
    animation: pulse 2s infinite;
    cursor: pointer;
}

.slideLink {
    font-family: "Lato";
    padding: 15px 0;
    min-width: 150px;
    border-radius: 30px;
    border: none;
    transition: all 0.3s linear;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .15em;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        -webkit-filter: drop-shadow(0px 0px 3px rgba(255, 255, 255, 0.5));
        filter: drop-shadow(0px 0px 3px rgba(255, 255, 255, 0.5))
    }

    70% {
        transform: scale(1);
        -webkit-filter: drop-shadow(0px 0px 8px rgb(255, 255, 255, 0.75));
        filter: drop-shadow(0px 0px 8px rgb(255, 255, 255, 0.75))
    }

    100% {
        transform: scale(0.95);
        -webkit-filter: drop-shadow(0px 0px 3px rgb(255, 255, 255, 0.5));
        filter: drop-shadow(0px 0px 3px rgb(255, 255, 255, 0.5))
    }
}

/* -------------------------------------------------------------------------------- */
.Projects {
    background: rgb(235, 235, 235);
}

.ProjectsHolder {
    padding-top: 15vh;
    padding-bottom: 15vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border: 5px solid #333; */
}

.Projects-Content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    .Projects-Content h1 {
        gap: 10px;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 2%;
        padding-bottom: 2%;
    }

.Project {
    background-color: rgb(235, 235, 235);
    box-shadow: -6px -6px 20px rgba(255, 255, 255, 1), 6px 6px 20px rgba(0, 0, 0, 0.1);
    border-radius: 60px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    width: 80%;
    justify-content: center;
    transition: 0.4s ease-out;
}

    .Project:hover {
        transform: translateY(10px);
        background-color: rgb(235, 235, 235);
        border-radius: 60px;
        box-shadow: inset -6px -6px 10px rgba(255, 255, 255, 0.6), inset 6px 6px 20px rgba(0, 0, 0, 0.075);
        transition: 0.4s ease-out;
    }

.video-mask1 {
    /* padding-left: 5%; */
    padding-right: 5%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.video-mask2 {
    padding-left: 5%;
    /* padding-right: 5%; */
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.availableIn {
    align-items: flex-end;
    display: flex;
    width: 100%;
    height: auto;
    justify-content: flex-end;
    list-style: none;
    padding-right: 12%;
    overflow: hidden;
    gap: 8px;
    font-family: "Montserrat";
    line-height: 1.5;
    font-size: 16px;
    font-weight: 100;
    padding-left: 10px;
}


/* -------------------------------------------------------------------------------- */


::-webkit-scrollbar {
    height: 0px;
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #fdda0d;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #f8cd0d;
    }
